.flows.json.backup
[
    {
        "id": "4e23c358d225203f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9c0b5c84f075a377",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "579bd542ab12ca12",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "2a891cbd9a082185",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "fcd6c3fb300f3107",
        "type": "ui-page",
        "name": "Page 0",
        "ui": "579bd542ab12ca12",
        "path": "/page0",
        "icon": "home",
        "layout": "grid",
        "theme": "2a891cbd9a082185",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3af56ac89782d9d9",
        "type": "ui-group",
        "name": "Group 1",
        "page": "fcd6c3fb300f3107",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "victron-client-id",
        "type": "victron-client"
    },
    {
        "id": "7d27a0e9ea8a529f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.10.20",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cd9827dc2b8cfad1",
        "type": "inject",
        "z": "4e23c358d225203f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "f1a2b638f11159dc"
            ]
        ]
    },
    {
        "id": "f1a2b638f11159dc",
        "type": "ui-text",
        "z": "4e23c358d225203f",
        "group": "3af56ac89782d9d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 310,
        "y": 160,
        "wires": []
    },
    {
        "id": "68cee2d2a407b636",
        "type": "change",
        "z": "4e23c358d225203f",
        "name": "cerbogx/battery/soc",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "cerbogx/battery/soc",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "000d31623eaa20de"
            ]
        ]
    },
    {
        "id": "65e8ac414324baf5",
        "type": "change",
        "z": "4e23c358d225203f",
        "name": "cerbogx/tank/fresh-water/level",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "cerbogx/tank/fresh-water/level",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 300,
        "wires": [
            [
                "000d31623eaa20de"
            ]
        ]
    },
    {
        "id": "a34306b4731e1cd6",
        "type": "change",
        "z": "4e23c358d225203f",
        "name": "cerbogx/tank/grey-waste/level",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "cerbogx/tank/grey-waste/level",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "000d31623eaa20de"
            ]
        ]
    },
    {
        "id": "769c9ab48855693a",
        "type": "change",
        "z": "4e23c358d225203f",
        "name": "cerbogx/tank/left-lpg/level",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "cerbogx/tank/left-lpg/level",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 380,
        "wires": [
            [
                "000d31623eaa20de"
            ]
        ]
    },
    {
        "id": "8368c1af10d226d7",
        "type": "change",
        "z": "4e23c358d225203f",
        "name": "cerbogx/tank/right-lpg/level",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "cerbogx/tank/right-lpg/level",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 420,
        "wires": [
            [
                "000d31623eaa20de"
            ]
        ]
    },
    {
        "id": "7db9155d93b0854c",
        "type": "change",
        "z": "4e23c358d225203f",
        "name": "cerbogx/relay1/state",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "cerbogx/relay1/state",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 500,
        "wires": [
            [
                "000d31623eaa20de"
            ]
        ]
    },
    {
        "id": "a35184b4f06fbfce",
        "type": "change",
        "z": "4e23c358d225203f",
        "name": "cerbogx/relay2/state",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "cerbogx/relay2/state",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 540,
        "wires": [
            [
                "000d31623eaa20de"
            ]
        ]
    },
    {
        "id": "475df7d1c87c25f4",
        "type": "victron-input-battery",
        "z": "4e23c358d225203f",
        "service": "com.victronenergy.battery/512",
        "path": "/Soc",
        "serviceObj": {
            "service": "com.victronenergy.battery/512",
            "name": "Titan 200ah Battery"
        },
        "pathObj": {
            "path": "/Soc",
            "type": "float",
            "name": "State of charge (%)"
        },
        "name": "leisure battery-soc",
        "onlyChanges": true,
        "roundValues": "0",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "68cee2d2a407b636"
            ]
        ]
    },
    {
        "id": "000d31623eaa20de",
        "type": "link out",
        "z": "4e23c358d225203f",
        "name": "mqtt out",
        "mode": "link",
        "links": [
            "a1462d41be2d95e9"
        ],
        "x": 795,
        "y": 360,
        "wires": []
    },
    {
        "id": "ea70e863b91b34a9",
        "type": "victron-input-tank",
        "z": "4e23c358d225203f",
        "service": "com.victronenergy.tank/21",
        "path": "/Level",
        "serviceObj": {
            "service": "com.victronenergy.tank/21",
            "name": "Fresh Water"
        },
        "pathObj": {
            "path": "/Level",
            "type": "float",
            "name": "Tank level (%)"
        },
        "name": "fresh water tank level",
        "onlyChanges": true,
        "roundValues": "no",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "65e8ac414324baf5"
            ]
        ]
    },
    {
        "id": "6a43ab0755aba981",
        "type": "victron-input-tank",
        "z": "4e23c358d225203f",
        "service": "com.victronenergy.tank/20",
        "path": "/Level",
        "serviceObj": {
            "service": "com.victronenergy.tank/20",
            "name": "Gray Waste"
        },
        "pathObj": {
            "path": "/Level",
            "type": "float",
            "name": "Tank level (%)"
        },
        "name": "grey waste tank level",
        "onlyChanges": true,
        "roundValues": "no",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "a34306b4731e1cd6"
            ]
        ]
    },
    {
        "id": "9035bf403795883e",
        "type": "victron-input-tank",
        "z": "4e23c358d225203f",
        "service": "com.victronenergy.tank/24",
        "path": "/Level",
        "serviceObj": {
            "service": "com.victronenergy.tank/24",
            "name": "LPG L"
        },
        "pathObj": {
            "path": "/Level",
            "type": "float",
            "name": "Tank level (%)"
        },
        "name": "left lpg tank level",
        "onlyChanges": true,
        "roundValues": "no",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "769c9ab48855693a"
            ]
        ]
    },
    {
        "id": "8d19c5d6e075ea99",
        "type": "victron-input-tank",
        "z": "4e23c358d225203f",
        "service": "com.victronenergy.tank/25",
        "path": "/Level",
        "serviceObj": {
            "service": "com.victronenergy.tank/25",
            "name": "LPG R"
        },
        "pathObj": {
            "path": "/Level",
            "type": "float",
            "name": "Tank level (%)"
        },
        "name": "right lpg tank level",
        "onlyChanges": true,
        "roundValues": "no",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "8368c1af10d226d7"
            ]
        ]
    },
    {
        "id": "f7e451079df82b5b",
        "type": "victron-input-relay",
        "z": "4e23c358d225203f",
        "service": "com.victronenergy.system/0",
        "path": "/Relay/0/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/0/State",
            "type": "enum",
            "name": "Venus relay 1 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "relay - drawers",
        "onlyChanges": true,
        "x": 160,
        "y": 500,
        "wires": [
            [
                "7db9155d93b0854c"
            ]
        ]
    },
    {
        "id": "b1e4ff7a80bcdc31",
        "type": "victron-input-relay",
        "z": "4e23c358d225203f",
        "service": "com.victronenergy.system/0",
        "path": "/Relay/1/State",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/1/State",
            "type": "enum",
            "name": "Venus relay 2 state",
            "enum": {
                "0": "Open",
                "1": "Closed"
            }
        },
        "initial": "",
        "name": "relay - fridge",
        "onlyChanges": true,
        "x": 170,
        "y": 540,
        "wires": [
            [
                "a35184b4f06fbfce"
            ]
        ]
    },
    {
        "id": "d184a04ac7b780a0",
        "type": "mqtt out",
        "z": "9c0b5c84f075a377",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d27a0e9ea8a529f",
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "a1462d41be2d95e9",
        "type": "link in",
        "z": "9c0b5c84f075a377",
        "name": "mqtt out",
        "links": [
            "000d31623eaa20de"
        ],
        "x": 145,
        "y": 80,
        "wires": [
            [
                "d184a04ac7b780a0",
                "bca590271a395143"
            ]
        ]
    },
    {
        "id": "bca590271a395143",
        "type": "debug",
        "z": "9c0b5c84f075a377",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 120,
        "wires": []
    }
]